@mixin boton ($yellow, $padding-size, $font-title, $color, $radius, $none){
	background-color: $yellow;
	padding:$padding-size;
	font-family:$font-title;
	color:$color;
	border-radius:$radius;
	border:$none;
}

