section.about.text-center
			h2 ABOUT
			P Lorem ipsum dolor sit amet, 
			.circle
				.container
					.row
						.text-row.col-md-5.text-right
							h4 2009
							h4 Our Humble Beginnings
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	consequat.
						.col-md-2.p-left
							img(src="img/about/1.jpg")
					.row
						.col-md-2.col-sm-offset-5
							img(src="img/about/2.jpg")
						.text-row.col-md-5.text-left
							h4 2009
							h4 Our Humble Beginnings
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	consequat.	
					.row
						.text-row.col-md-5.text-right
							h4 2009
							h4 Our Humble Beginnings
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	consequat.
						.col-md-2.p-left
							img(src="img/about/3.jpg")
					.row
						.col-md-2.col-sm-offset-5
							img(src="img/about/4.jpg")
						.text-row.col-md-5.text-left
							h4 2009
							h4 Our Humble Beginnings
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	consequat.	
					.row
						.text-row.col-md-5.text-right
						.col-md-2.p-left