section.portfolio.text-center
			h2 Portfolio
			p Lorem ipsum dolor sit amet.
			.container
				.row
					.col-md-4
						img(src="img/portfolio/roundicons.png")
						.text-box
							h4 Round Icons
							p Graphic Design
					.col-md-4
						img(src="img/portfolio/Startup-framework.png")
						.text-box
							h4 Startup Framework
							p Website Design
					.col-md-4
						img(src="img/portfolio/treehouse.png")
						.text-box
							h4 Treehouse
							p Website Design
				.row
					.col-md-4
						img(src="img/portfolio/golden-preview.png")
						.text-box
							h4 Golden
							p Website Design
					.col-md-4
						img(src="img/portfolio/escape-preview.png")
						.text-box
							h4 Escape
							p Website Design
					.col-md-4
						img(src="img/portfolio/dreams-preview.png")
						.text-box
							h4 Dreams
							p Website Design
