section.services.text-center
	h2 SERVICES
	span.h-subtit Lorem ipsum dolor sit amet consectetur
	.row
		+list-service('first','E-Commerce')
		+list-service('second','Responsive Design')
		+list-service('third', 'Web Security')